:root {
    --linkNormal: #3344dd;
    --linkHover: #bb1122;
    --linkVisited: #884488;

    --linkDarkNormal: #7180e5;
    --linkDarkHover: #f15060;
    --linkDarkVisited: #b974b9;
}

.mainmenu {
    display: flex;
    flex-direction: column;
    align-content: stretch;

    position: sticky;
    top: 0;

    /* width: min-content; */
    width: 70vw;
    padding-top: 0.4rem;

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

    background-color: white;
}

.mainmenu > button {
    /* display: block; */
    background: none;
    border: none;
    overflow: hidden;

    cursor: pointer;

    position: relative;

    /* width: 100%; */
    padding: 0;
    margin: 0;

    text-align: center;
    vertical-align: middle;

    border: 2px solid hsl(120, 70%, 40%);
    background-color: hsl(120, 54%, 54%);
    border-radius: 5px;
}

.mainmenu > button > span {
    vertical-align: middle;
}

.mainmenu > button > .expand {
    transform: rotate(0deg);

    transition: transform 0.3s ease;
}

.mainmenu ul {
    display: none;
    flex-flow: column nowrap;
    align-content: flex-start;
    align-items: flex-start;

    position: relative;
    top: -100%;

    margin: 0;
    padding: 0;

    list-style-type: none;

    transition: all 0.3s ease-out;
    transition-property: top;
}

.mainmenu li {
    display: contents;
}

.mainmenu li a {
    align-self: stretch;

    padding: 0.2rem 3rem;

    text-decoration: none;

    color: hsl(0, 0%, 100%);

    background-color: hsl(120, 37%, 16%);

    border: 0 solid hsl(120, 37%, 30%);
    border-width: 1px 0px;

    transition: all 0.3s ease-out;
    transition-property: background-color;
}

.mainmenu li:first-of-type a {
    border-top: 2px solid hsl(120, 70%, 40%);
}

.mainmenu li:last-of-type a {
    border-bottom: none;
}

.mainmenu li a:hover,
.mainmenu li a:focus {
    background-position: 0% 100%;
    background-color: hsl(120, 34%, 58%);

    /* border-color: hsl(120, 54%, 88%); */

    transition: none;
}

.mainmenu > button:focus-visible,
.mainmenu > button:hover {
    /* border-width: 2px 2px 2px 2px; */
}

.mainmenu > button:focus-visible .expand,
.mainmenu > button:hover .expand {
    transform: rotate(180deg);
}

.mainmenu > button:focus-visible ul,
.mainmenu > button:hover ul {
    display: flex;

    /* top: 0; */

    transition: all 0.3s ease-out;
    transition-property: top;
}

.link {
    display: inline;
    position: relative;
    text-decoration: none;

    background-image: linear-gradient(currentColor, currentColor);
    background-size: 0% 1px;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    transition: background-size 0.2s;
}

li:hover .link,
a:focus .link {
    color: hsl(0, 0%, 0%);

    background-size: 100% 1px;
    background-position: 0% 100%;
}

@media screen and (min-width: 360px) {
    .mainmenu {
        width: unset;
    }

    .mainmenu > button {
        display: contents;
    }

    .mainmenu > button > span {
        display: none;
    }

    .mainmenu ul {
        display: flex;
        flex-flow: row wrap;

        border: 1px solid hsl(120, 70%, 40%);
        border-radius: 5px;
    }

    .mainmenu li {
        display: contents;
    }

    .mainmenu li a {
        display: block;

        flex-grow: 1;

        color: hsl(0, 0%, 30%);
        background-color: hsl(120, 54%, 54%);
        border: 1px solid hsl(120, 70%, 40%);

        transition: all 0.5s ease-out;
        transition-property: background-color;
    }

    .mainmenu li:first-of-type a {
        border: 1px solid hsl(120, 70%, 40%);
    }

    .mainmenu li:last-of-type a {
        border: 1px solid hsl(120, 70%, 40%);
    }

    .mainmenu li a:hover,
    .mainmenu li a:focus {
        background-position: 0% 100%;
        background-color: hsl(120, 54%, 88%);

        /* border-color: hsl(120, 54%, 88%); */

        transition: none;
    }
}
