

ul {
    display: flex;
    flex-flow: row wrap;
    
    position: sticky;
    top: 0;

    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

    list-style-type: none;
    border: 2px solid hsl(120, 70%, 40%);
    
}

li {
    flex-grow: 1;

    

    
    
    background-color: hsl(120, 54%, 54%);
    /*border: 2px solid hsl(120, 70%, 40%);*/
}

li:hover {
    background-color: hsl(120, 54%, 88%);
    border-color: hsl(120, 54%, 88%);
}

li a {
    display: block;
    height: 2rem;
    line-height: 2rem;

    text-decoration: none;
    
}

li:hover a {
    text-decoration: underline;
}